@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'IranSans';
  src: url('../assets/fonts/IRANSansMedium.woff2') format('woff2');
}

body {
  font-family: 'IranSans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}